/*comienzo de media querys*/
@media screen and (max-width: 992px) {
    /* modificacion para que funcione la barra */
    body {
        grid-template-rows: auto 4fr auto;
    }

    .navbar {
        height: auto;
    }
    /* modificacion al index */
    .body-index{
        height: 330%;
        grid-template-rows: auto 4fr 4fr auto;

        .main-index{
            grid-template-rows: repeat(3,1fr);
            grid-template-areas: 
            "pre"
            "act"
            "act";
    
            .presentacion {
                flex-direction: column;
                justify-content: space-around;

                    .img-titulo {
                        display: flex;
                        justify-content: center;
                        
                            img {
                                width: 70%;
                                margin: 1em 0;
                            }
                    }
                    .tamaño-titulo {
                        font-size: 3em;
                    }
            }
            .actividades {
                justify-content: space-evenly;
                .contenido-actividades {
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    overflow: hidden;
                    .card {
                            height: auto;
                        }
                }
            }
        }
    }


        /* modificacion a rooms */
        
    .rooms {
        height: auto;
            .main-history {
                height: auto;
            }
    }
}
/*media para 768px*/

@media screen and (max-width:768px) {
       /* nueva modificacion al index */
.body-index {
    .main-index {
        .presentacion {
            .titulo {
                .tamaño-titulo {
                    font-size: 3em;
                }
            }
        }
    }
}

     /* Modificacion al page contact */
     .form-contacto { 
        flex-direction: column;
        justify-content: space-evenly;
        gap: 0;
            .caja-formulario {
                width: 80%;
                height: 70%;
            }
            .redes {
                flex-direction: row;
                height: 20%;
                width: 80%;
                    .icon {
                        width: 40px;
                        height: 40px;
                    }
            }
    }
    /*modificacion a reserva*/

.body-reserva {
    height: 200%;
    .main-reserva {
        height: 100%;
        .reserva {
            grid-template-columns: 1fr;
            grid-template-rows: 0.9fr 1.1fr;
        }
    }
}
}

/*media para 576px*/ 

@media screen and (max-width:576px) {

.body-index {
    height: 530%;
    .main-index {
        grid-template-rows: repeat(5,1fr);
        grid-template-areas:
        "pre"
        "act"
        "act"
        "act"
        "act";
            .presentacion {
                .img-titulo {
                    img {
                        width: 90%;
                    }
                }
            }
        .actividades {
            .contenido-actividades {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4,1fr);
                overflow: hidden;
                .card {
                        height: auto;
                    }
            }
        }
    }
}
    .tamaño-titulo {
        font-size: 2.5em;
        text-align: center;
            img {
                width: 90%;
            }
        }
            
     /* modificacion a location */
    .ubicacion-texto p {
    font-size: 1em;
 }
 /*modificacion a contacto*/
 .form-contacto {
    .redes {
        h2 {
            @include titulo (1em,500,center,white)
        }
    }
 }
    }
