.main-reserva {
    height: 100%;
    width: 100%;
        .reserva {
            height: 100%;
            display: grid;
            grid-template-columns: 0.9fr 1.1fr;
            justify-items: center;
            align-items: center;
                .formulario-reserva{
                    height: 90%;
                    width: 85%;
                    background-color: rgba(0, 0, 0, 0.47);
                    border-radius: 5%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                        h1{
                            @include titulo (2em, 700, center, white);
                            text-transform: uppercase;
                        }
                        h2 {
                            @include titulo (1.5em,700,center,white);
                            text-transform: uppercase;
                        }
                        .form {
                            width: 80%;
                            height: 70%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            label {
                                font-weight: 600;
                                text-transform: uppercase;
                                color: white;
                            }
                            input {
                                width: 90%;
                                margin-bottom: 0.5em;
                            }
                            .btn-reserva {
                                width: 90%;
                            }
                        }
                }
                .datos-reserva {
                    width: 80%;
                    height: 90%;
                    background-color:rgba(0, 0, 0, 0.47);
                    border-radius: 5%;
                    display: grid;
                    grid-template-rows: 1fr 2fr 0.5fr 0.5fr;
                    align-items: center;
                    justify-items: center;
                        h2 {
                            text-align: center;
                            color: white;
                            text-transform: uppercase;
                            font-weight: 700;
                            width: 100%;
                        }
                        .listaReservas {
                            list-style: none;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 0.5em;
                            height: 80%;
                            width: 90%;
                            padding: 0;
                            margin: 0;
                                .datoReserva {
                                    color: white;
                                    font-size: 1.5em;
                                    font-weight: 600;
                                }
                        }
                        .botonesReservas {
                            width: 90%;
                            gap: 1em;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                                .eliminarReserva {
                                    width: 100%;
                                    background-color: rgba(169, 4, 4, 0.826);
                                    text-transform: uppercase;
                                    font-weight: 600;
                                }
                                .confirmarReserva {
                                    width: 100%;
                                    background-color: rgba(0, 226, 0, 0.724);
                                    text-transform: uppercase;
                                    font-weight: 600;
                                }
                        }
                        .total {
                            color: white;
                        }
                }
        }
}