/*Css ubicacion*/
.ubicacion {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

        .ubicacion-texto {
            display: flex;
            justify-content: center;

                p {
                    text-transform: uppercase;
                    width: 60%;
                    @include titulo (1.5em,500,center,white);
                    font-family: 'Oswald', sans-serif;
                }
        }

        .mapa {
            width: 80%;
            height: 70%;
            margin-bottom: 1em;
            
                iframe {
                    height: 100%;
                    width: 100%;   
                }
        }
}