@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
header{
    grid-area: nav;
}
main {
    grid-area: main
}
footer {
    grid-area: footer;
}

html {
    width: 100%;
    height: 100%;
}
body {
    display: grid;
    background-image: url(../img/fondo.avif);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    grid-template-columns: 0.5fr auto 0.5fr;
    grid-template-rows: 50px auto 40px;
    grid-template-areas: 
    "nav nav nav"
    "main main main"
    "footer footer footer";
    overflow-x: hidden;
}
/* codigo de la barra de navegacion */
.boton1 {
    grid-area: b1;
}
.boton2 {
    grid-area: b2;
}
.boton3 {
    grid-area: b3;
}
.boton4 {
    grid-area: b4;
}
.boton5 {
    grid-area: b5;
}
.logo {
    grid-area: logo;
}
.logo img {
    height: 30px;
    width:auto;
}
.barraNavegacion ul {
    list-style: none;
    display: grid;
    grid-template-areas: ". logo . b1 b2 b3 b4 b5 .";
    grid-template-columns: repeat(9, 1fr);
    justify-items: stretch;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #4a2525;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;

}
.barraNavegacion ul li {

    padding: 7px 20px;
    color: rgb(255, 255, 255);
}

.barraNavegacion ul li:hover {
    background-color:  #ffffff22;
    border-radius: 4px;
}
/* css index */
.mainIndex {
    height: 100%;
    width: 100%;
}
.presentacion {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.img-titulo img{
    width: 40vw;
    box-shadow: 0px 0px 50px black;
    }
.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 0px 10px black;
}
/* Css History   */
.tituloHabitaciones {
    grid-area: tituloH;
}
.cocina {
    grid-area: cocina
}
.baño {
    grid-area: baño;
}
.habitacionPrincipal {
    grid-area: principal;
}
.habitacionA {
    grid-area: hA;
}
.habitacionB {
    grid-area: hB;
}
.mainHistory {
    width: 100%;
    height: 100%;
}
.habitaciones {
    height: 100%;
    width: 100%;
    grid-area: habitaciones;
    font-family: 'Oswald', sans-serif;
    display: grid;
    grid-template-areas: 
    "tituloH tituloH tituloH tituloH tituloH"
    "cocina principal hA hB baño"
    ;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.3fr 1fr;
    justify-items: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
}
.habitacion {
    width: 80%;
    height: 80%;
    background-color: rgba(82, 76, 76, 0.584);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15%;

}

.habitaciones img {
    width: 80%;
    height: 60%;
}

/* css como llegar */
.ubicacion {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ubicacion-texto {
    display: flex;
    justify-content: center;
}
.ubicacion-texto p {
    text-transform: uppercase;
    width: 60%;
    text-align: center;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: white;
}
.mapa {
    width: 80%;
    height: 70%;
}
.mapa iframe {
    height: 100%;
    width: 100%;
}
/* css contacto */
.formContacto {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    font-family: 'Oswald', sans-serif;
    color: white;
    
}
.cajaFormulario {
    width: 40%;
    height: 90%;
    border-radius: 2em;
    background-color: rgba(42, 42, 35, 0.562);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 0.3em;
}
.formulario .respuesta{
    width: 80%;
}
.cajaFormulario h1 {
    font-size: 3em;
}
.botonConsulta {
    width: 80%;
    background-color: #00000070;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: white;
    transition: all 400ms;
}
.botonConsulta:hover {
    background-color: rgba(240, 248, 255, 0.555);
}
.redes {
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
    background-color: rgba(42, 42, 35, 0.562);
    border-radius: 2em;
}
.redes h2 {
    font-size: 1em;
    text-align: center;
}
.icon {
    width: 80px;
    height: 80px;
}   
/* footer */

footer {
    background-color: black;
    width: 100%;
    display: block;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    .titulo {
        font-size: 2.5em;
    }
    body {
        grid-template-rows: 100px 100% 40px;
    }
    .barraNavegacion ul {
        height: 100px;
        grid-template-areas: 
        ". . logo logo logo logo logo . ."
        ". . b1 b2 b3 b4 b5 . .";
    }
}